.sectionPreamble

{
	display: block;
	background-color: Bisque;
	margin: 3px;
	padding: 3px;
}
.sectionTargetInfo
{
	display: block;
	background-color: LightSalmon;
	float: left;
	margin: 5px;
	padding: 10px;
	border: 3px solid MediumSpringGreen;
}

.sectionActionInfo
{
	display: block;
	background-color: LemonChiffon;
	float: left;
	margin: 5px;
	padding: 10px;
	border: 3px solid Tomato;
}

.sectionFilterInfo
{
	display: block;
	background-color: PowderBlue;
	float: left;
	margin: 5px;
	padding: 10px;
	border: 3px solid IndianRed;
}
.sectionCommandOutput
{
	display: block;
	background-color: LavenderBlush;
	float: left;
	padding: 30px;
	border: 3px solid HotPink;
}

TABLE.border
{
	border-collapse: collapse;
	border: 1px;
}
TABLE
{
	border-collapse: collapse;
}
TR.VerticalPadded
{
	padding-top: 7px;
	padding-bottom: 7px;
}


TD.ArgumentLabel
{
	text-align: left;
	background-color: khaki;
	min-width: 225px;
}
TH.Argument
{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 8px;
	padding-bottom: 8px;
}

TD.Argument
{
	text-align: center;
	background-color: white;
	min-width: 200px;
}
TD.ArgumentDefault
{
	text-align: right;
	/*background-color: blue;*/
	min-width: 125px;*/
}
TD
{
	vertical-align: top;
	padding: 5px;
}
DIV.invisible
{
	display: none;
}
INPUT.BigCheckbox
{
	width: 20px;
	height: 20px;
}
H2,H3,H4
{
	display: inline;
	padding: 2px;
}
UL
{
	list-style-type: disc;
}